.btn-cadastro{
    background-color: bisque;
    color: black;
}

.btn-cadastro:hover{
   background-color: red;
   color: black;
}
.cssdiv{
    background-color: black;
    height: 700px;
    max-height: 800px;
    width: 100%;
    color: aliceblue;
}